<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>First_Release</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Django 첫 배포!!!!!</h1>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HAHAHA</title>
    <style>
        .items {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: skyblue;
            width: 100%;
            height: 300px;
            margin-top: 30px;
            font-size: 30px;
            font-weight: 700;
        }

        nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        nav .links {
            width: 100px;
            height: 50px;
            background-color: pink;
            text-align: center;
            line-height: 50px;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h1>SODA QAHelper</h1>
    <nav>
        <div class="links" id="link1">Beauty</div>
        <div class="links" id="link2">Style</div>
        <div class="links" id="link3">Filter</div>
        <div class="links" id="link4">Makeup</div>
        <div class="links" id="link5">Studio</div>
    </nav>

    <br>
    <br>
    <select>
        <option>smooth</option>
        <option>lift</option>
        <option>slim</option>
        <option>short</option>
        <option>chin</option>
        <option>wrinkle</option>
        <option>brow</option>
        <option>clarity</option>
        <option>enlarge</option>
        <option>span</option>
        <option>corner</option>
        <option>eyebag</option>
        <option>narrow</option>
        <option>alar</option>
        <option>noselength</option>
        <option>mouth</option>
        <option>lip</option>
        <option>plim</option>
        <option>teeth</option>
        <option>eyelength</option>
        <option>toneup</option>
        <option>cheekbone</option>
        <option>jawbone</option>
        <option>pupil</option>
        <option>thick</option>
        <option>eyebrowlift</option>
        <option>nose</option>
        <option>tip</option>
        <option>philtrum</option>
        <option>vshape</option>
        <option>smile</option>
        <option>balance</option>
        <option>head</option>
        <option>inner</option>
    </select>
    <input type="text" placeholder="Insert Strength (0~100)">
    <button type="button"> +</button>
    <div class="items" id="item1" onclick="window.open('soda://go?beautyKeyname=enlarge')"> Beauty Scheme</div>
    <br>
    <input type="text" placeholder="Insert Style ID">
    <div class="items" id="item2" onclick="window.open('soda://go?styleId=101255&autoDownload=true')"> Style Scheme</div>
    <br>
    <input type="text" placeholder="Insert Filter ID">
    <div class="items" id="item3" onclick="window.open('soda://go?filterId=300245')"> Filter Scheme</div>
    <br>
    <input type="text" placeholder="Insert Makeup Keyname & ID">
    <div class="items" id="item4" onclick="window.open('soda://go?makeup=lip_color(0101,80)&blush(0103,20)&contour(0102,50)&eye_color(0108,100)')"> Makeup Scheme</div>
    <br>
    <input type="text" placeholder="Insert Studio Template ID">
    <div class="items" id="item5" onclick="window.open('soda://studio?templateId=10760')"> Studio Scheme</div>
<!--    <input type = "button" value="url" name="test" onclick="location.href='soda://go?styleId=101255&autoDownload=true'">-->
<!--    <input type="button" value="album" name="test" onclick="window.open('soda://go?styleId=101255&autoDownload=true')">-->
    <!--위가 현재 페이지에서 이동, 아래가 새 에서 이동 >> 현재 페이지에서 이동은 스킴 정상적으로 이동 안됨, 새 창으로 열어야 스킴 이 -->

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

    <script>
        $('#link2').on('click', function() {
            $('html').animate({
                scrollTop: $("#item2").offset().top,
            }, 800);
        })
    </script>

    <script>
        $('#link3').on('click', function() {
            $('html').animate({
                scrollTop: $("#item3").offset().top,
            }, 800);
        })
    </script>

    <script>
        $('#link4').on('click', function() {
            $('html').animate({
                scrollTop: $("#item4").offset().top,
            }, 800);
        })
    </script>

    <script>
        $('#link5').on('click', function() {
            $('html').animate({
                scrollTop: $("#item5").offset().top,
            }, 800);
        })
    </script>

    <script>
        $('#item1).on('click', function() {
            location.herf="www.naver.com"
        }
    </script>
</body>
</html>